html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header, .hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 175px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

a, .hero .secondary {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero .main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero {
    display: flex;
    padding: 80px 175px;
    justify-content: center;
    gap: 30px;
}

.hero .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.hero .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: grey;
}

.hero .text button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information .title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 50px;
}

.content {
    display: flex;
    padding: 0 200px 80px;
    gap: 60px;
}

.content .item .image {
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.content .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.content .item .text {
    width: 150px;
    text-align: center;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px;
}

.quote .text {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote .text .main {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote .text .author {
    font-weight: bold;
    color: #1f2937;
}

.call-to-action {
    padding: 70px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action .container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    padding: 45px 0;
    border-radius: 8px;
    color: #f9faf8;
}

.call-to-action .container .text .title {
    font-weight: bold;
    font-size: 20px;
}

.call-to-action .container button {
    font-weight: bold;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 3px 25px;
}